*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    border-radius:15px;
    width: 115px;
    height: 115px;
    background-color: #d8d6d6;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    background-color: rangered;
    cursor: pointer;
    text-align: center;
}
.textBox{
    font-size: large;
}
.img{
    height: 170px;
}
.container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px;
}

form input[type="text"], form input[type="datetime-local"], form input[type="time"]{
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #0707073f;
    border: none;
    color: white;
}
form input[type="text"]:focus, 
form input[type="datetime-local"]:focus{
    background-color: #0707075b;
}
textarea:focus, input:focus{
    outline: none;
}

form{
    background-color: rgb(232, 130, 63);
    border-radius: 10px;
}

p.label{
    position: relative;
    left: 3.7rem;
    right: 0;
    margin: 0 ;
    text-align: left;
    top: .6rem;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: transparent;
    margin-right: 12rem;
    border-radius:5px;
}

.select{
    position:relative;
    left: 1rem;
}

.BtnAula{
    margin-top: 2rem;
}

.btn{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.dispCompu {
    padding: 20px;
    width: 200px;
    height: 150px;
}

/* pagina principal donde sale el cuadro alumno y maestro */
#alumno {
    background: rgb(235, 112, 29);
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    cursor: pointer;
}
#alumno:hover{
    background: rgb(248, 126, 44);;
}
#alumno:active{
    background: rgb(204, 100, 31);;
}

#maestro {
    background: rgb(0, 176, 80);
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    cursor: pointer;
}
#maestro:hover{
    background: rgb(24, 212, 109);

}
#maestro:active{
    background: rgb(13, 165, 82);
}

#title{
    padding-right: 27em;
    margin-top: 10px;
    margin-bottom: 10px;

}
#logo{
    padding-left:14em;
}
/* termina div pagina principal  */


h1.letrasDiv {
    color: white
}

h2.letrasDiv2 {
    color: white;
    font-size:medium
}

.textH3{
    font-size:large;
}

.nav {
    font-size: xx-large;
}

p.form-maestro {
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255)
}
p.form-maestro2 {
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 15px;
    text-align: left;
    color: rgb(255, 255, 255)
}

p {
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    color: rgb(15, 14, 14)
}

.form-maestro {
    color: white;
}

p.formulario {
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: white
}

p.pcentrado {
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0)
}

/* este es para que quite el subrayado en los links de los botones */
a {
    text-decoration: none;
    color: rgb(20, 20, 20)
}

#btnhome2:disabled {
    text-decoration: none;
    color: rgb(235, 218, 218);
}

.style{
    color: aliceblue;
}

.BotonInicio {
    width: 100px;
    height: 50px;
    padding:18px;
    background: rgb(68, 194, 131);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 15px;
    color: rgb(247, 243, 243);
}
.BotonInicio:hover {
    background: rgb(54, 156, 105);
    color: rgb(247, 243, 243);
}
.BotonInicio:active{
    background: rgb(18, 116, 67);   
    color: rgb(44, 231, 128);

}


/* boton para seleccionar aula ubicado en maestros */
.btn-acs-maestro {
    background-color: rgb(0, 176, 80);
    border: none;
    border-radius: 10px;
    height: 45px;
    width: 160px;
    color: white;
    font-size: larger;
}
.btn-acs-maestro:hover {
    background: rgb(54, 156, 105);
    color: rgb(247, 243, 243);
}
.btn-acs-maestro:active{
    background: rgb(18, 116, 67);   
    color: rgb(44, 231, 128);
}

a.a-white {
    color: white;
}

.icono {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

/* div para la sala de computo del maestro */
.parent {
    display: flex;
    justify-content: center;
}
/* este es el div de las cajas de las computadoras */
.child {
    margin: 0 10px;
    border: none;
    padding: 40px;
    text-align: center;
    background-color: rgb(228, 105, 23);
    border-radius: 20px;
    color: white;
    width: 300px;
}
.ocupado {
    background-color: red;
}

/* termina div maestro de la sala computo  (235, 112, 29); */
span.lap {
    color: rgb(20, 20, 20);

}

/* estados para el div de las aulas maestro */
.verde {
    background-color: green;
}

.rojo {
    background-color: red;
}

.navbar{
    background-color: #fdfdfd3f;
    box-shadow: 5px 5px 10px #9998983f;
}
.contenedorCaja{
    background-color: #d8d8d83f;
}

#contenedor{
    padding-top: 20px;
}

.title{
    padding-bottom: 20px;
}

/* apartado de la pagina actualizar del administrador  */
td.Actualizar{
    background-color: rgb(91, 235, 91);
    padding: 10px
}