<!DOCTYPE html>
<html>

<head>
    <title>Div Centrados con Botones</title>
    <style>
        .parent {
            display: flex;
            justify-content: center;
        }

        .child {
            margin: 0 10px;
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
        .sala{
            background-color: rgb(43, 114, 90);
        }
    </style>
</head>

<body>
    <div class="parent">
        <div class="child">
            <div class="sala">Contenido del primer div</div>
            <button>click</button>
        </div>
        <div class="child">
            <div  class="sala">Contenido del segundo div</div>
            <button>click</button>
        </div>
    </div>


</body>

</html>
